<footer class="moto-footer">
  <ul class="footer-link container">
    <li><a>關於我們</a></li>
    <li><a>廣告刊登</a></li>
    <li><a>客服信箱</a></li>
  </ul>
  <div class="footer-info">
    <span>電話： <a href="tel:+886227036108">(02) 2703-6108</a></span>
    <span>傳真：(02) 2701-4807</span>
    <copyright><b style="margin-right: 1em;">摩托車雜誌</b>  版權所有 © MotorWorld all rights reserved.</copyright>
  </div>
</footer>
