<div class="top-line"></div>
<header class="moto-header container">
  <div class="logo-block">
    <div class="logo-wrapper">
      <img class="logo" src="/assets/motorworld/img/logo.png" alt="motorworld logo" /><br/>
      <h1 class="logo-text">摩托車雜誌-資訊網</h1>
    </div>
    <div class="header-tools">
      <div class="moto-search">
        <div class="search-wrapper">
          <i class="fa fa-search" style="margin: 0 0 0 7px;" aria-hidden="true"></i>
          <input type="text" name="search" placeholder="站內搜索" value="">
        </div>
        <button type="button">搜尋</button>
      </div>
      <div class="moto-user">
        <span>共有 168,100 位會員</span>
        <a href="/register"><i class="fa fa-user" aria-hidden="true"></i> 註冊會員</a>
        <% if (!req.session.authenticated) { %>
          <a href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i> 登入</a>
        <% } else { %>
          <a class="logout-link" href="javascript: void(0)"><i class="fa fa-sign-in" aria-hidden="true"></i> 登出</a>
        <% }%>
      </div>
    </div>
  </div>
  <div class="banner-wrapper">
    <img src="/assets/motorworld/img/banner.png" alt="motorworld banner" />
  </div>
  <%- include navbar.inc.ejs %>
</header>


<% LayoutUtils.addScriptBlock(`
  $('.logout-link').click(function(){
    swal({
      title: '確認',
      text: '您確定要登出了嗎？',
      type: 'warning',
      showCancelButton: true,
      confirmButtonColor: "#e6caa8",
      confirmButtonText: "登出",
      cancelButtonText: "取消",
      closeOnConfirm: true,
      closeOnCancel: true,
    },function(isConform){
      if(isConform){
        open('/logout', '_self');
      }else{
        swal.close();
      }
    });
  });
`); %>
