<nav class="moto-navbar">
  <ul class="main-nav">
    <li><a>摩托首頁</a></li>
    <li><a><span>改裝</span>機車</a></li>
    <li><a><span>賽事</span>報導</a></li>
    <li><a><span>活動</span>消息</a></li>
    <li><a><span>旅遊</span>資訊</a></li>
    <li><a><span>雜誌</span>新訊</a></li>
    <li><a><span>活動</span>相冊</a></li>
    <li><a class="active"><span>會員</span>專區</a></li>
  </ul>
  <ul class="sec-nav">
    <li><a href="/register">註冊會員</a></li>
    <li><a href="/login">我要登入</a></li>
  </ul>
</nav>
