<fieldset>

  
    <section row="">
      <label class="label">權限名稱</label>
      <label class="input state-disabled ">
      <input type="text" name="authority" placeholder="" v-model="data.item.authority" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入權限名稱</b></label>
    </section>
  

</fieldset>
<script>
  var formRules = {
    authority:{
      required: true,
    },
  };

  var formMessages = {
    authority:{
      required: "請給予 權限名稱",
    },
  };
</script>
