var COMMON = {
  DOUBLE_CLICK_TIME_PERIOD: 250,
  DEFAULT_INDEX: -1,
  DEFAULT_AVATAR: "/assets/admin/img/avatars/default.png",
};

var itemBeforeEdit = {};
var prefix = 'admin/';
var modelName = "user";
var appModel = {
  modelName: modelName,
  prefix: prefix,
  data: {
    item: {
      avatar: '',
      displayName: '',
      username: '',
      email: '',
      firstName: '',
      lastName: '',
      birthday: '',
      phone1: '',
      phone2: '',
      address: '',
      address2: '',
      city: '',
      district: '',
      postCode: '',
      password: '',
      Roles: [],
      rolesArray: [],
      Passports: [{
        password: ""
      }],
      Supplier: {}
    },
    items: [],
    option: {
      passwordConfirm: '',
      defaultSort: [
        [11, 'desc']
      ],
      supplierList: [],
    }
  },
  view: {
    table: {
      selectIndex: COMMON.DEFAULT_INDEX,
    },
  }
}

/* TABLETOOLS */

<%- include ../default/vue.ejs %>
// 需要新增函式可以對 appMain 進行定義，如：
// appMain.log = function () {console.log("123")}
appMain.addressColumn = function() {
  $('#twzipcode').twzipcode({});
  $('#twzipcode input').addClass('form-control');
  $('#twzipcode select').addClass('form-control');

  $("[name=userCity]").val($("[name=city]").val());
  $("[name=userCity]").change();
  $("[name=userDistrict]").val($("[name=district]").val());
  $("[name=userPostCode]").val($("[name=postCode]").val());

  $('#twzipcode select').on('change', function() {
    $("[name=city]").val($("[name=userCity]").val());
    $("[name=district]").val($("[name=userDistrict]").val());
    $("[name=postCode]").val($("[name=userPostCode]").val());
    appMain.data.item.city = $("[name=userCity]").val();
    appMain.data.item.district = $("[name=userDistrict]").val();
    appMain.data.item.postCode = $("[name=userPostCode]").val();
  });
}

appMain.addRoles = function() {
  var roles = [];
  $('#admin').prop('checked') ? roles.push('admin') : '';
  $('#supplier').prop('checked') ? roles.push('supplier') : '';
  $('#user').prop('checked') ? roles.push('user') : '';
  appMain.data.item.rolesArray = roles;
}

appMain.supplierRole = function() {
  if ($('input[name=supplier]').prop('checked')) {
    $('select[name=supplier]').prop('disabled', false);
  } else {
    $('select[name=supplier]').prop('disabled', true);
  }

  $("input[name=supplier]").on('change', function(event) {
    if ($('input[name=supplier]').prop('checked')) {
      $('select[name=supplier]').prop('disabled', false);
      $('select[name=supplier] option:first-child').prop('disabled', true);
      // $('select[name=supplier] option:nth-child(2)').prop('selected', true);
    } else {
      $('select[name=supplier]').prop('disabled', true);
      $('select[name=supplier]').val('');
      $('select[name=supplier] option:first-child').prop('disabled', false);

    }
  });
}


appMain.loadSupllier = function () {
  $.get('/api/admin/supplier', ajaxSuccess);
  function ajaxSuccess(result) {
    if (result.success) {
      appModel.data.option.supplierList = result.data.items;
    }
  } // end ajaxSuccess
}

appMain.DateOfBirthday = function () {
  $('input[name="birthday"]').datepicker({
    changeYear: true,
    yearRange: "-100:+0",
    dateFormat: 'yy-mm-dd',
    prevText: '<i class="fa fa-angle-left"></i>',
    nextText: '<i class="fa fa-angle-right"></i>'
  });
}

appMain.addUserBdayExportButton = function() {
  var newBtn = '<a class="DTTT_button DTTT_button_text" id="ToolTables_main-table_custom_0" title="匯出壽星" tabindex="0" aria-controls="main-table"><span>匯出壽星</span></a>';
  $(newBtn).prependTo('.DTTT_container');

  $('#ToolTables_main-table_custom_0').on('click', function() {
    var download = function(url, data, id) {
      $.post(url, data)
        .done(function(result) {
          $('<iframe>', { id: id, src: '/api/admin/download?fileName=' + result.data }).hide().appendTo('body');
        })
        .fail(function(result) {
          console.log(result);
        });
    }
    $.SmartMessageBox({
      title: "壽星資料",
      content: "請選擇要匯出的月份：<br/>" +
        "<select id='birthdayMonth' class='form-control'>" +
        "<option value='1' >1 月</option>" +
        "<option value='2' >2 月</option>" +
        "<option value='3' >3 月</option>" +
        "<option value='4' >4 月</option>" +
        "<option value='5' >5 月</option>" +
        "<option value='6' >6 月</option>" +
        "<option value='7' >7 月</option>" +
        "<option value='8' >8 月</option>" +
        "<option value='9' >9 月</option>" +
        "<option value='10' >10月</option>" +
        "<option value='11' >11月</option>" +
        "<option value='12' >12月</option>" +
        "</select> <br/>",
      buttons: "[取消][匯出壽星資料]"
    }, function(ButtonPress) {
      if (ButtonPress === '匯出壽星資料') {
        var month = $("#birthdayMonth").val();
        download('/api/admin/' + modelName + '/exportBirthday', { month: month }, 'exportExcel');
      }
    });
    var dateMonth = new Date();
    dateMonth = (dateMonth.getMonth() + 1).toString()
    $("#birthdayMonth").val(dateMonth);
  });
};

appMain.addFilterDeactivateUserButton = function() {
  var newBtn = '<a class="DTTT_button DTTT_button_text" id="ToolTables_main-table_custom_1" title="已停用使用者" tabindex="1" aria-controls="main-table"><span>已停用使用者</span></a>';
  $(newBtn).prependTo('.DTTT_container');

  $('#ToolTables_main-table_custom_1').on('click', function() {
      appMain.loadItems(appMain.renderTable, 'deactivate=true');
  });
};

appMain.addFilterActivateUserButton = function() {
  var newBtn = '<a class="DTTT_button DTTT_button_text" id="ToolTables_main-table_custom_2" title="全部使用者" tabindex="2" aria-controls="main-table"><span>全部使用者</span></a>';
  $(newBtn).prependTo('.DTTT_container');

  $('#ToolTables_main-table_custom_2').on('click', function() {
      appMain.loadItems(appMain.renderTable);
  });
};

appMain.DataTableInitComplete = function() {
  appMain.addUserBdayExportButton();
  appMain.addFilterDeactivateUserButton();
  appMain.addFilterActivateUserButton();
  $('.loading-wrapper').removeClass('active');
}

appMain.userDisabled = function () {
  $('button.btn-danger').text('停用');
};

appMain.delete = function () {
  var msg = {
    title: '停用',
    content: '確認停用此筆資料？',
    btnArray: ['停用', '取消'],
  };
  var action = function (ButtonPressed) {
    if (ButtonPressed === '停用') {
      var ajaxSuccess = function (result) {
        appModel.view.table.selectIndex = COMMON.DEFAULT_INDEX;
        messageApp.show({
          desc: `停用資料成功！`,
          type: 'success'
        });
        var callbackUrl = $('#main-form').data('callback') || '';
        var url = '/admin/#/admin/' + modelName;
        if (callbackUrl!== '') {
          url = '/admin/#/admin' + callbackUrl;
        }
        location.href = url;
        setTimeout(function () {
          location.href = url;
        }, 500);
      }; // end ajaxSuccess

      var ajaxError = function (result) {
        messageApp.show({
          desc: '停用資料失敗！errorMessage: ' + result.responseJSON.message,
          type: 'error'
        });
      };

      $.ajax({
        url: '/api/' + prefix + modelName + '/' + appModel.data.item.id,
        type: 'DELETE',
        dataType: 'json',
        xhrFields: {
          withCredentials: true
        },
        success: ajaxSuccess,
        error: ajaxError,
      });
    }
  };
  messageApp.confirm(msg, action);
};

appMain.hideUserDisabledBtn = function () {
  $('button.btn-danger').addClass('hidden');
};

appMain.userEnabled = function(){
  var userId = appMain.data.item.id;
  var checkBtn = '<button type="button" class="btn btn-success pull-left">啟用</button>';
  $(checkBtn).prependTo('footer');

  $('.btn-success').on('click', function(){
    $.SmartMessageBox({
      title : "提醒",
      content:'是否啟用此帳號 ? ',
      buttons : "[確認][取消]"
    },function(ButtonPress) {
        if(ButtonPress === "取消"){
          return 0;
        }
        
        var ajaxSuccess = function (result) {
          location.href = '/admin/#/admin/' + modelName;
          appMain.dismissMessageBox();
          messageApp.show({
          desc: '啟用成功！',
          type: 'success'
          });
        }; // end ajaxSuccess

        var ajaxError = function (result) {
          setTimeout(function(){
            location.replace('/admin/login');
          },800);
          appMain.dismissMessageBox();
          messageApp.show({
            desc: '啟用失敗！errorMessage: ' + result.responseJSON.message,
            type: 'error'
          });
        };

        $.ajax({
          url: '/api/' + prefix + modelName + '/activate/' + userId,
          type: 'PUT',
          dataType: 'json',
          data: {},
          xhrFields: {
          withCredentials: true,
          },
          success: ajaxSuccess,
          error: ajaxError,
        }).done(function(result){
          defaultTable.api().ajax.reload(null, false);
        });
      }
    );
  });
}