<fieldset>

  <div class="row">
    <section class="col col-lg-6 col-xs-6">
      <label class="label">名稱</label>
      <label class="input state-disabled">
        <input type="text" name="name" placeholder="名稱" v-model="data.item.name" disabled>
        <b class="tooltip tooltip-bottom-right">名稱</b></label>
    </section>
    <section class="col col-lg-6 col-xs-6">
      <label class="label">出貨日期</label>
      <label class="input state-disabled">
        <input type="text" name="shippingData" placeholder="" v-model="data.item.shippingData" disabled>
        <b class="tooltip tooltip-bottom-right">出貨日期</b></label>
    </section>
    
  </div>

  <div class="row">
    <section class="col col-lg-6 col-xs-6">
      <label class="label">描述</label>
      <label class="input state-disabled">
        <textarea class="form-control" name="description" placeholder="" v-model="data.item.description" rows="3" disabled></textarea>
        <b class="tooltip tooltip-bottom-right">描述</b></label>
    </section>

    <section class="col col-lg-6 col-xs-6">
      <label class="label">規格</label>
      <label class="input state-disabled">
        <textarea class="form-control" name="specification" placeholder="" v-model="data.item.specification" rows="3" disabled></textarea>
        <b class="tooltip tooltip-bottom-right">規格</b></label>
    </section>
  </div>

  <div class="row">
    <section class="col col-lg-6 col-xs-6">
      <label class="label">品牌故事</label>
      <label class="input state-disabled">
        <textarea class="form-control" name="story" placeholder="" v-model="data.item.story" rows="3" disabled></textarea>
        <b class="tooltip tooltip-bottom-right">品牌故事</b></label>
    </section>

    <section class="col col-lg-6 col-xs-6">
      <label class="label">注意事項</label>
      <label class="input state-disabled">
        <textarea class="form-control" name="precautions" placeholder="" v-model="data.item.precautions" rows="3" disabled></textarea>
        <b class="tooltip tooltip-bottom-right">注意事項</b></label>
    </section>
  </div>

  <div class="row">
    <section class="col col-lg-6 col-xs-6">
      <label class="label">標籤</label>
      <label class="input state-disabled">
        <input type="text" name="tag" placeholder="標籤" v-model="data.item.tag" disabled>
        <b class="tooltip tooltip-bottom-right">標籤</b></label>
    </section>

    <section class="col col-lg-6 col-xs-6">
      <label class="label">meta 標題</label>
      <label class="input state-disabled">
        <input type="text" name="metaTitle" placeholder="meta 標題" v-model="data.item.metaTitle" disabled>
        <b class="tooltip tooltip-bottom-right">meta 標題</b></label>
    </section>
  </div>

  <div class="row">
    <section class="col col-lg-6 col-xs-6">
      <label class="label">meta 描述</label>
      <label class="input state-disabled">
        <input type="text" name="metaDescription" placeholder="meta 描述" v-model="data.item.metaDescription" disabled>
        <b class="tooltip tooltip-bottom-right">meta 描述</b></label>
    </section>

    <section class="col col-lg-6 col-xs-6">
      <label class="label">meta 關鍵字</label>
      <label class="input state-disabled">
        <input type="text" name="metaKeyword" placeholder="meta 關鍵字" v-model="data.item.metaKeyword" disabled>
        <b class="tooltip tooltip-bottom-right">meta 關鍵字</b></label>
    </section>
  </div>

  <div class="row">
    <section class="col col-lg-6 col-xs-6">
      <label class="label">產品 ID</label>
      <label class="input state-disabled">
        <input type="text" name="ProductId" placeholder="產品 ID" v-model="data.item.ProductId" disabled>
        <b class="tooltip tooltip-bottom-right">產品 ID</b></label>
    </section>

    <section class="fn-show-hidden col col-lg-6 col-xs-6">
      <label class="label">產品名稱</label>
      <label class="select state-disabled">
        <select class="form-control" name="ProductId" title="選擇產品" v-model="data.item.ProductId" disabled>
          <option value="" disabled selected>請選擇</option>
          <option v-for="product in data.option.productList" v-bind:value="product.id">
            {{product.model}}
          </option>
        </select>
      </label>
    </section>
  </div>

</fieldset>
<script>
var formRules = {
  name: {
    required: true
  },
  description: {
    required: true
  },
  // tag: {
  //   required: true
  // },
  // metaTitle: {
  //   required: true
  // },
  // metaDescription: {
  //   required: true
  // },
  // metaKeyword: {
  //   required: true
  // },
}

// Messages for form validation
var formMessages = {
  name: {
    required: '請給予名稱'
  },
  description: {
    required: '請給予描述'
  },
}
</script>
