<style>

.loading-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.67);
  top: 0;
  left: 0;
  z-index: -1;
  /*transition: 0.2s all;*/
  opacity: 0;
  /*transform: rotateX(-31deg) scale(0.3);*/
}
.loading-wrapper.active {
  opacity: 1;
  z-index: 10000;
  /*transform: rotateX(0deg) scale(1);*/
}
.spinner {
  margin: -15px 0 0 -75px;
  width: 150px;
  top: 50%;
  left: 50%;
  text-align: center;
  position: absolute;
  text-align: center;
}

.spinner > div {
  width: 30px;
  height: 30px;
  background-color: #9da3a8;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
</style>

<fieldset>

  <div class="loading-wrapper active">
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div>

  <div class="row">
    <section class="col col-lg-6 col-xs-6">
      <label class="label">名稱</label>
      <label class="input state-disabled">
        <input type="text" name="name" placeholder="名稱" v-model="data.item.name" disabled>
        <b class="tooltip tooltip-bottom-right">名稱</b></label>
    </section>
    <section class="col col-lg-6 col-xs-6">
      <label class="label">出貨日期</label>
      <label class="input state-disabled">
        <input type="text" name="shippingData" placeholder="" v-model="data.item.shippingData" disabled>
        <b class="tooltip tooltip-bottom-right">出貨日期</b></label>
    </section>
    
  </div>

  <div class="row">
    <section class="col col-lg-6 col-xs-6">
      <label class="label">標籤</label>
      <label class="input state-disabled">
        <input type="text" name="tag" placeholder="標籤" v-model="data.item.tag" disabled>
        <b class="tooltip tooltip-bottom-right">標籤</b></label>
    </section>

    <section class="col col-lg-6 col-xs-6">
      <label class="label">meta 標題</label>
      <label class="input state-disabled">
        <input type="text" name="metaTitle" placeholder="meta 標題" v-model="data.item.metaTitle" disabled>
        <b class="tooltip tooltip-bottom-right">meta 標題</b></label>
    </section>
  </div>

  <div class="row">
    <section class="col col-lg-6 col-xs-6">
      <label class="label">meta 描述</label>
      <label class="input state-disabled">
        <input type="text" name="metaDescription" placeholder="meta 描述" v-model="data.item.metaDescription" disabled>
        <b class="tooltip tooltip-bottom-right">meta 描述</b></label>
    </section>

    <section class="col col-lg-6 col-xs-6">
      <label class="label">meta 關鍵字</label>
      <label class="input state-disabled">
        <input type="text" name="metaKeyword" placeholder="meta 關鍵字" v-model="data.item.metaKeyword" disabled>
        <b class="tooltip tooltip-bottom-right">meta 關鍵字</b></label>
    </section>
  </div>

  <div class="row">
    <section class="col col-lg-6 col-xs-6">
      <label class="label">產品 ID</label>
      <label class="input state-disabled">
        <input type="text" name="ProductId" placeholder="產品 ID" v-model="data.item.ProductId" disabled>
        <b class="tooltip tooltip-bottom-right">產品 ID</b></label>
    </section>

    <section class="fn-show-hidden col col-lg-6 col-xs-6">
      <label class="label">產品名稱</label>
      <label class="select state-disabled">
        <select class="form-control" name="ProductId" title="選擇產品" v-model="data.item.ProductId" disabled>
          <option value="" disabled selected>請選擇</option>
          <option v-for="product in data.option.productList" v-bind:value="product.id">
            {{product.model}}
          </option>
        </select>
      </label>
    </section>
  </div>

  <div class="row">
    <section class="col col-xs-12">
      <label class="label">描述</label>
      <div class="summernote" name="description">{{data.item.description}}</div>
      <b class="tooltip tooltip-bottom-right">描述</b>
    </section>
  </div>

  <div class="row">
    <section class="col col-xs-12">
      <label class="label">規格</label>
      <div class="summernote" name="specification">{{data.item.specification}}</div>
      <b class="tooltip tooltip-bottom-right">規格</b>
    </section>
  </div>

  <div class="row">
    <section class="col col-xs-12">
      <label class="label">品牌故事</label>
      <div class="summernote" name="story">{{data.item.story}}</div>
      <input type="hidden" name="story">
      <b class="tooltip tooltip-bottom-right">品牌故事</b>
    </section>
  </div>

  <div class="row">
    <section class="col col-xs-12">
      <label class="label">注意事項</label>
      <div class="summernote" name="precautions">{{data.item.precautions}}</div>
      <b class="tooltip tooltip-bottom-right">注意事項</b>
    </section>
  </div>

</fieldset>
<script>
var formRules = {
  name: {
    required: true
  },
  description: {
    required: true
  },
  // tag: {
  //   required: true
  // },
  // metaTitle: {
  //   required: true
  // },
  // metaDescription: {
  //   required: true
  // },
  // metaKeyword: {
  //   required: true
  // },
}

// Messages for form validation
var formMessages = {
  name: {
    required: '請給予名稱'
  },
  description: {
    required: '請給予描述'
  },
}

$(function() {
});

</script>
