<style type="text/css">
  body {
    background-color: #fff;
    position: relative;
  }
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 20px;
  }
</style>

<div class="container" style="padding-bottom: 50px;">
  <%- data.md('privacy.md')%>
</div>
