<style type="text/css">
  body {
    background-color: #fff;
    position: relative;
  }
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
</style>

<div class="container">
  <%- data.md('terms.md')%>
</div>
