@media print
 {
    .appBar {
      visibility: hidden;
    }
    .drawerContainer {
      display: none;
    }
    .pageContent {
      width: 100% !important;
      margin: 0 0 !important;


      .searchBar {
        display: none;
      }
      .cardbody-wrapper {
        display: none;
      }
      .card-deatil{
        border: 0px !important;
        hr:first-child{
          border-top: solid 1px;
        }
      }
      .stepper-wrapper {
        display: none;
      }
    }

 }
