@import "footer.scss";
@import "header.scss";
@import "order.scss";
@import "side_menu.scss";
@import "sec_menu.scss";
@import "index.scss";
@import "orderhistory.scss";
@import "forgot.scss";
@import "product_detail.scss";

@import "components/button.scss";
@import "components/tab.scss";
