.b2b-product-detail {
  margin-top: -20px;
  @media (max-width: 1074px) {
    margin-top: 1px;
  }
  > .row {
    .col-md-6 {
      padding: 0;
      &.b2b-product-detail-content {
        max-width: 617px;
        padding-top: 24px;
        padding-left: 82px;
        padding-right: 2.5em;
        @media screen and (max-width: 1230px) {
          padding-left: 3em;
        }
        @media screen and (max-width: 991px) {
          max-width: inherit;
          padding-left: 2.5em;
        }
        @media screen and (max-width: 767px) {
          padding-top: 8px;
          padding-right: 1.5em;
          padding-left: 1.5em;
        }
        > h1 {
          margin-top: 0;
          margin-bottom: 1em;
          font-size: 32px;
          color: #000000;
        }
        .price {
          font-size: 19px;
          color: #5e5f63;
        }
        .origin {
          font-size: 16px;
          color: #9b9da4;
        }
        .order-options {
          margin: 2.5em 0 2.5em;
          .radio {
            margin-bottom: 1em;
          }
        }
        .order-input {
          margin-bottom: 3.5em;
          .input-group {
            max-width: 150px;
            @media screen and (max-width: 767px) {
              margin-bottom: 2em;
            } 
            .btn, input {
              height: 46px;
            }
            input {
              border-left: none;
              margin-left: 1px;
            }
          }
        }
      }
    }
  }
  .product-image-cover {
    width: 100%;
  }
  .b2b-tabs {
    margin-bottom: 3em;
  }
}
