#back-to-top {
    position: fixed;
    bottom: 15px;
    right: 8px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background: #36383e;
    color: #444;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
#back-to-top:hover {
    background: #2e9bea;
}
#back-to-top.show {
    opacity: 1;
}
#back-to-top i {
    color: white;
}
