<fieldset>
    <section class="fn-show-hidden">
      <label class="label">產品</label>
      <label class="select state-disabled">
        <select class="form-control" name="ProductId" title="選擇產品" v-model="data.item.ProductId" disabled>
          <option value="" disabled selected>請選擇</option>
          <option v-for="product in data.option.productList" v-bind:value="product.id">
            {{product.model}}
          </option>
        </select>
      </label>
    </section>
  
    <section row="">
      <label class="label">內容</label>
      <label class="input state-disabled ">
      <input type="text" name="value" placeholder="" v-model="data.item.value" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入內容</b></label>
    </section>

    <div class="row">
      <section class="col col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <label class="label">啟用狀態</label>
        <label class="select state-disabled"></label>
        <span class="input-group-addon">
          <span class="onoffswitch">
            <input type="checkbox" name="required" class="onoffswitch-checkbox" v-model="data.item.required" disabled="disabled" id="required">
            <label class="onoffswitch-label" for="required">
              <span
                class="onoffswitch-inner"
                data-swchon-text="On"
                data-swchoff-text="Off"></span>
              <span class="onoffswitch-switch"></span>
            </label>
          </span>
        </span>
        <b class="tooltip tooltip-bottom-right">請選擇是否啟用</b></label>
      </section>
    
      <section class="col col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <label class="label">數量</label>
        <label class="input state-disabled ">
        <input type="text" name="quantity" placeholder="" v-model="data.item.ProductOptionValue.quantity" disabled>
        <b class="tooltip tooltip-bottom-right">請輸入數量</b></label>
      </section>

      <section row="" class="col col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <label class="label">賣出減少</label>
        <label class="input state-disabled switch"></label>
        <span class="input-group-addon">
          <span class="onoffswitch">
            <input type="checkbox" name="subtract" class="onoffswitch-checkbox" v-model="data.item.ProductOptionValue.subtract" disabled="disabled" id="subtract">
            <label class="onoffswitch-label" for="subtract">
              <span
                class="onoffswitch-inner"
                data-swchon-text="On"
                data-swchoff-text="Off"></span>
              <span class="onoffswitch-switch"></span>
            </label>
          </span>
        </span>
        <b class="tooltip tooltip-bottom-right">請選擇是否賣出減少</b></label>
      </section>
    
    </div>

    <div class="row">

      <section class="col col-lg-2 col-md-2 col-sm-2 col-xs-4">
        <label class="label">價格影響</label>
        <label class="select state-disabled">
          <select class="form-control" name="pricePrefix" title="選擇價格影響" v-model="data.item.ProductOptionValue.pricePrefix" disabled>
            <option value="=" selected> = </option>
            <option value="+" > + </option>
            <option value="-" > - </option>
          </select> <i></i>
        </label>
      </section>

      <section row="" class="col col-lg-10 col-md-10 col-sm-10 col-xs-8">
        <label class="label">價格</label>
        <label class="input state-disabled ">
        <input type="text" name="price" placeholder="" v-model="data.item.ProductOptionValue.price" disabled>
        <b class="tooltip tooltip-bottom-right">請輸入價格</b></label>
      </section>

      
    </div>
  
    <!--
    <div class="row">
      <section class="col col-lg-2 col-md-2 col-sm-2 col-xs-4">
        <label class="label">點數影響</label>
        <label class="select state-disabled">
          <select class="form-control" name="pointsPrefix" title="選擇點數影響" v-model="data.item.ProductOptionValue.pointsPrefix" disabled>
            <option value="=" selected> = </option>
            <option value="+" > + </option>
            <option value="-" > - </option>
          </select> <i></i>
        </label>
      </section>

      <section row="" class="col col-lg-10 col-md-10 col-sm-10 col-xs-8">
        <label class="label">點數</label>
        <label class="input state-disabled">
        <input type="text" name="points" placeholder="" v-model="data.item.ProductOptionValue.points" disabled>
        <b class="tooltip tooltip-bottom-right">請輸入點數</b></label>
      </section>
    </div>
    -->

    <div class="row">
      <section class="col col-lg-2 col-md-2 col-sm-2 col-xs-4">
        <label class="label">重量影響</label>
        <label class="select state-disabled">
          <select class="form-control" name="weightPrefix" title="選擇重量影響" v-model="data.item.ProductOptionValue.weightPrefix" disabled>
            <option value="=" selected> = </option>
            <option value="+" > + </option>
            <option value="-" > - </option>
          </select> <i></i>
        </label>
      </section>

      <section row="" class="col col-lg-10 col-md-10 col-sm-10 col-xs-8">
        <label class="label">重量</label>
        <label class="input state-disabled ">
        <input type="text" name="weight" placeholder="" v-model="data.item.ProductOptionValue.weight" disabled>
        <b class="tooltip tooltip-bottom-right">請輸入重量</b></label>
      </section>
    </div>
  
  

</fieldset>
<script>
  var formRules = {
    value:{
      required: true,
    },
    required:{
      required: true,
    },
    quantity:{
      required: true,
    },
    subtract:{
      required: true,
    },
    price:{
      required: true,
    },
    pricePrefix:{
      required: true,
    },
    points:{
      required: true,
    },
    pointsPrefix:{
      required: true,
    },
    weight:{
      required: true,
    },
    weightPrefix:{
      required: true,
    },
  };

  var formMessages = {
    value:{
      required: "請給予 數值",
    },
    required:{
      required: "請給予 啟用",
    },
    quantity:{
      required: "請給予 數量",
    },
    subtract:{
      required: "請給予 賣出減少",
    },
    price:{
      required: "請給予 價格",
    },
    pricePrefix:{
      required: "請給予 價格影響",
    },
    points:{
      required: "請給予 點數",
    },
    pointsPrefix:{
      required: "請給予 點數影響",
    },
    weight:{
      required: "請給予 重量",
    },
    weightPrefix:{
      required: "請給予 重量影響",
    },
  };
</script>
