<fieldset>
    <section class="fn-show-hidden">
      <label class="label">產品</label>
      <label class="select state-disabled">
        <select class="form-control" name="ProductId" title="選擇產品" v-model="data.item.ProductId">
          <option value="" disabled selected>請選擇</option>
          <option v-for="product in data.option.productList" v-bind:value="product.id">
            {{product.model}}
          </option>
        </select>
      </label>
    </section>

    <section class="notForCreate">
      <label class="label">產品ID</label>
      <label class="input state-disabled">
        <input type="text" name="productName" placeholder="" v-model="data.item.ProductId" disabled>
        <b class="tooltip tooltip-bottom-right">產品ID</b></label>
      </label>
    </section>
  
    <section row="">
      <label class="label">內容</label>
      <label class="input state-disabled ">
      <input type="text" name="value" placeholder="" v-model="data.item.value" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入內容</b></label>
    </section>
  
    <section row="">
      <label class="label">啟用</label>
      <label class="input state-disabled ">
      <input type="text" name="required" placeholder="" v-model="data.item.required" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入啟用</b></label>
    </section>
  
    <section row="">
      <label class="label">數量</label>
      <label class="input state-disabled ">
      <input type="text" name="quantity" placeholder="" v-model="data.item.ProductOptionValue.quantity" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入數量</b></label>
    </section>
  
    <section row="">
      <label class="label">賣出減少</label>
      <label class="input state-disabled ">
      <input type="text" name="subtract" placeholder="" v-model="data.item.ProductOptionValue.subtract" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入賣出減少</b></label>
    </section>
  
    <section row="">
      <label class="label">價格</label>
      <label class="input state-disabled ">
      <input type="text" name="price" placeholder="" v-model="data.item.ProductOptionValue.price" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入價格</b></label>
    </section>

    <section>
      <label class="label">價格影響</label>
      <label class="select state-disabled">
        <select class="form-control" name="pricePrefix" title="選擇價格影響" v-model="data.item.ProductOptionValue.pricePrefix">
          <option value="=" selected> = </option>
          <option value="+" > + </option>
          <option value="-" > - </option>
        </select>
      </label>
    </section>
  
  <!--
    <section row="">
      <label class="label">價格影響</label>
      <label class="input state-disabled ">
      <input type="text" name="pricePrefix" placeholder="" v-model="data.item.ProductOptionValue.pricePrefix" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入價格影響</b></label>
    </section>
  -->
  
    <section row="">
      <label class="label">點數</label>
      <label class="input state-disabled ">
      <input type="text" name="points" placeholder="" v-model="data.item.ProductOptionValue.points" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入點數</b></label>
    </section>

    <section>
      <label class="label">點數影響</label>
      <label class="select state-disabled">
        <select class="form-control" name="pointsPrefix" title="選擇點數影響" v-model="data.item.ProductOptionValue.pointsPrefix">
          <option value="=" selected> = </option>
          <option value="+" > + </option>
          <option value="-" > - </option>
        </select>
      </label>
    </section>
  
  <!--
    <section row="">
      <label class="label">點數影響</label>
      <label class="input state-disabled ">
      <input type="text" name="pointsPrefix" placeholder="" v-model="data.item.ProductOptionValue.pointsPrefix" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入點數影響</b></label>
    </section>
    -->
  
    <section row="">
      <label class="label">重量</label>
      <label class="input state-disabled ">
      <input type="text" name="weight" placeholder="" v-model="data.item.ProductOptionValue.weight" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入重量</b></label>
    </section>

    <section>
      <label class="label">重量影響</label>
      <label class="select state-disabled">
        <select class="form-control" name="weightPrefix" title="選擇重量影響" v-model="data.item.ProductOptionValue.weightPrefix">
          <option value="=" selected> = </option>
          <option value="+" > + </option>
          <option value="-" > - </option>
        </select>
      </label>
    </section>
  
    <!--
    <section row="">
      <label class="label">重量影響</label>
      <label class="input state-disabled ">
      <input type="text" name="weightPrefix" placeholder="" v-model="data.item.ProductOptionValue.weightPrefix" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入重量影響</b></label>
    </section>
    -->
  

</fieldset>
<script>
  var formRules = {
    value:{
      required: true,
    },
    required:{
      required: true,
    },
    quantity:{
      required: true,
    },
    subtract:{
      required: true,
    },
    price:{
      required: true,
    },
    pricePrefix:{
      required: true,
    },
    points:{
      required: true,
    },
    pointsPrefix:{
      required: true,
    },
    weight:{
      required: true,
    },
    weightPrefix:{
      required: true,
    },
  };

  var formMessages = {
    value:{
      required: "請給予 數值",
    },
    required:{
      required: "請給予 啟用",
    },
    quantity:{
      required: "請給予 數量",
    },
    subtract:{
      required: "請給予 賣出減少",
    },
    price:{
      required: "請給予 價格",
    },
    pricePrefix:{
      required: "請給予 價格字首",
    },
    points:{
      required: "請給予 點數",
    },
    pointsPrefix:{
      required: "請給予 點數字首",
    },
    weight:{
      required: "請給予 重量",
    },
    weightPrefix:{
      required: "請給予 重量字首",
    },
  };
</script>
