
<!-- client -->
<table id="main-table" class="table table-striped table-bordered table-hover" width="100%">
  <thead>
    <tr>
      <th data-hide=""
      data-class="" class="no-sort id">
        ID
      </th>

      <th data-hide=""
      data-class="" class="no-sort productName">
        產品名稱
      </th>

      <th data-hide=""
      data-class="" class="no-sort value">
        內容
      </th>
  
      <th data-hide=""
      data-class="" class="no-sort required">
        啟用
      </th>
  
      <th data-hide=""
      data-class="" class="no-sort quantity">
        數量
      </th>
  
      <th data-hide=""
      data-class="" class="no-sort subtract">
        賣出減少
      </th>
  
      <th data-hide=""
      data-class="" class="no-sort price">
        價格
      </th>
      <!--
      <th data-hide=""
      data-class="" class="no-sort pricePrefix">
        價格影響
      </th>
      -->
      <th data-hide=""
      data-class="" class="no-sort points">
        點數
      </th>
      <!--
      <th data-hide=""
      data-class="" class="no-sort pointsPrefix">
        點數影響
      </th>
      -->
      <th data-hide=""
      data-class="" class="no-sort weight">
        重量
      </th>
      <!--
      <th data-hide=""
      data-class="" class="no-sort weightPrefix">
        重量影響
      </th>
      -->
      <th width="80" data-hide="phone,tablet" class="operate"></th>
    </tr>
  </thead>
  <!-- client only -->
  <tbody>
    <tr v-for="item in data.items">
      
        <td>{{ item.value}}</td>
      
        <td>{{ item.required}}</td>
      
        <td>{{ item.quantity}}</td>
      
        <td>{{ item.subtract}}</td>
      
        <td>{{ item.price}}</td>
      
        <td>{{ item.pricePrefix}}</td>
      
        <td>{{ item.points}}</td>
      
        <td>{{ item.pointsPrefix}}</td>
      
        <td>{{ item.weight}}</td>
      
        <td>{{ item.weightPrefix}}</td>
      
      <td align="center" style="cursor: pointer;">
        <div class="row">
          <a class="btn btn-default btn-xs" role="button" v-on:click="show(item.id)">
            <i class="fa-fw fa fa-eye text-muted" />
          </a>
          <a class="btn btn-default btn-xs" role="button" v-on:click="edit(item.id)">
            <i class="fa-fw fa fa-pencil-square-o text-muted"/>
          </a>
        </div>
      </td>
    </tr>
  </tbody>
 </table>


<script type="text/javascript">
  var pagefunction = function() {

    // server only
    var columns = [
      { "data": "id"},

      { "data": null },

      { "data": "value" },

      { "data": "required" },

      { "data": null },

      { "data": null },

      { "data": null }, //price

      // { "data": null }, 

      { "data": null }, //points

      // { "data": null }, 

      { "data": null }, //weight

      // { "data": null },
    
      { "data": null },
    ]

    // server only
    var columnDefs = [
      {
        "searchable": false,
        "targets": "required",
        "render": function (data, type, row) {
          if (row.required) {
            return '<td><i class="fa fw fa-check"></i></td>';
          }
          return '<td><i class="fa fw fa-close"></i></td>';
        }
      },

      {
        "searchable": false,
        "orderable": false,
        "targets": "quantity",
        "render": function (data, type, row) {
          return '<td>' + row.ProductOptionValue.quantity + '</td>';
        }
      },

      {
        "searchable": false,
        "targets": "productName",
        "orderable": false,
        "render": function (data, type, row) {
          return '<td>' + row.Product.model + '</td>';
        }
      },

      {
        "searchable": false,
        "orderable": false,
        "targets": "subtract",
        "render": function (data, type, row) {
          if (row.ProductOptionValue.subtract) {
            return '<td><i class="fa fw fa-check"></i></td>';
          }
          return '<td><i class="fa fw fa-close"></i></td>';
        }
      },

      {
        "searchable": false,
        "orderable": false,
        "targets": "price",
        "render": function (data, type, row) {
          return '<td>' + row.ProductOptionValue.price + '</td>';
        }
      },

      // {
      //   "searchable": false,
      //   "targets": "pricePrefix",
      //   "render": function (data, type, row) {
      //     return '<td>' + row.ProductOptionValue.pricePrefix + '</td>';
      //   }
      // },

      {
        "searchable": false,
        "orderable": false,
        "targets": "points",
        "render": function (data, type, row) {
          return '<td>' + row.ProductOptionValue.points + '</td>';
        }
      },

      // {
      //   "searchable": false,
      //   "targets": "pointsPrefix",
      //   "render": function (data, type, row) {
      //     return '<td>' + row.ProductOptionValue.pointsPrefix + '</td>';
      //   }
      // },


      {
        "searchable": false,
        "orderable": false,
        "targets": "weight",
        "render": function (data, type, row) {
          return '<td>' + row.ProductOptionValue.weight + '</td>';
        }
      },

      // {
      //   "searchable": false,
      //   "targets": "weightPrefix",
      //   "render": function (data, type, row) {
      //     return '<td>' + row.ProductOptionValue.weightPrefix + '</td>';
      //   }
      // },
      
      {
        "targets"  : "operate",
        "orderable": false,
        "searchable": false,
        "render": function ( data, type, row ) {
          var colBody =
          '<div class="row-action-buttons hidden-xs hidden-sm">'+
          '<a name="showDataButton" class="btn btn-default btn-xs" role="button" data-id="'+row.id+'">'+
          '<i class="fa-fw fa fa-eye text-muted" />'+
          '</a>'+
          '<a name="editDataButton" class="btn btn-default btn-xs" role="button" data-id="'+row.id+'">'+
          '<i class="fa-fw fa fa-pencil-square-o text-muted"/>'+
          '</a>'+
          '</div>';
          return colBody;
        }
      },
    ]
    var serverSidePaging = <%= (data.serverSidePaging != null)?data.serverSidePaging:false %>;
    <%- include vue.ejs %>
    appMain.$mount("#main-index");
    appMain.loadItems(appMain.renderTable);
  };
</script>
