<fieldset>
  <label class="label fn-show-hidden"><span class="text-danger">*</span>必填欄位</label>
  <section>
    <img src="{{data.item.image}}" alt="" class="img-responsive">
  </section>
  <section>
    <label class="label">產品圖片</label>
    <%- include ../image/upload.ejs %>
  </section>

  <div class="row">
    <section class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <label class="label"><span class="text-danger fn-show-hidden">*</span>名稱</label>
      <label class="input state-disabled">
        <input type="text" name="model" placeholder="" v-model="data.item.model" disabled>
        <b class="tooltip tooltip-bottom-right">請輸入名稱</b></label>
    </section>
    <section class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <label class="label"><span class="text-danger fn-show-hidden">*</span>數量</label>
      <label class="input state-disabled">
        <input type="number" name="quantity" placeholder="" v-model="data.item.quantity" disabled>
        <b class="tooltip tooltip-bottom-right">請輸入數量</b></label>
    </section>
    <section class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <label class="label"><span class="text-danger fn-show-hidden">*</span>價格</label>
      <label class="input state-disabled">
        <input type="number" name="price" placeholder="" v-model="data.item.price" disabled>
        <b class="tooltip tooltip-bottom-right">請輸入價格</b></label>
    </section>
    <!--
    <section class="col col-lg-4 col-md-4 col-sm-4 col-xs-6">
      <label class="label">sku</label>
      <label class="input state-disabled">
        <input type="text" name="sku" placeholder="" v-model="data.item.sku" disabled>
        <b class="tooltip tooltip-bottom-right">請輸入sku</b></label>
    </section>
    <section class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <label class="label">upc</label>
      <label class="input state-disabled">
        <input type="text" name="upc" placeholder="" v-model="data.item.upc" disabled>
        <b class="tooltip tooltip-bottom-right">請輸入upc</b></label>
    </section>
    -->
  </div>

<!--
  <div class="row">
    <section class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <label class="label">ean</label>
      <label class="input state-disabled">
        <input type="text" name="ean" placeholder="" v-model="data.item.ean" disabled>
        <b class="tooltip tooltip-bottom-right">請輸入ean</b></label>
    </section>
    <section class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <label class="label">jan</label>
      <label class="input state-disabled">
        <input type="text" name="ean" placeholder="" v-model="data.item.jan" disabled>
        <b class="tooltip tooltip-bottom-right">jan</b></label>
    </section>
    <section class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <label class="label">mpn</label>
      <label class="input state-disabled">
        <input type="text" name="mpn" placeholder="" v-model="data.item.mpn" disabled>
        <b class="tooltip tooltip-bottom-right">請輸入mpn</b></label>
    </section>
  </div>

  <div class="row">
    <section class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <label class="label">isbn</label>
      <label class="input state-disabled">
        <input type="text" name="isbn" placeholder="" v-model="data.item.isbn" disabled>
        <b class="tooltip tooltip-bottom-right">請輸入isbn</b></label>
    </section>
    <section class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <label class="label">location</label>
      <label class="input state-disabled">
        <input type="text" name="location" placeholder="" v-model="data.item.location" disabled>
        <b class="tooltip tooltip-bottom-right">請輸入location</b></label>
    </section>
  </div>
-->
<!--
  <div class="row">
    <section class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <label class="label">圖片</label>
      <label class="input state-disabled">
        <input type="text" name="image" placeholder="" v-model="data.item.image" disabled>
        <b class="tooltip tooltip-bottom-right">image</b></label>
    </section>
    <section class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <label class="label">圖片ID</label>
      <label class="input state-disabled">
        <input type="text" name="ImageId" placeholder="" v-model="data.item.ImageId" disabled>
        <b class="tooltip tooltip-bottom-right">ImageId</b></label>
    </section>

    <section class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <label class="label">釋出日期</label>
      <label class="input state-disabled">
        <input type="date" name="dataAvailable" placeholder="" v-model="data.item.dateAvailable" disabled>
        <b class="tooltip tooltip-bottom-right">dateAvailable</b></label>
      </label>
    </section>

  </div>
-->
<!--
  <div class="row">
    <section class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <label class="label">point</label>
      <label class="input state-disabled">
        <input type="text" name="point" placeholder="" v-model="data.item.point" disabled>
        <b class="tooltip tooltip-bottom-right">point</b></label>
      </label>
    </section>
  </div>
-->
  <!--
  <div class="row">
    <section class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <label class="label"><span class="text-danger fn-show-hidden">*</span>長度</label>
      <label class="input state-disabled">
        <input type="number" name="length" placeholder="" v-model="data.item.length" disabled>
        <b class="tooltip tooltip-bottom-right">請輸入長度</b></label>
      </label>
    </section>
    <section class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <label class="label"><span class="text-danger fn-show-hidden">*</span>寬度</label>
      <label class="input state-disabled">
        <input type="number" name="width" placeholder="" v-model="data.item.width" disabled>
        <b class="tooltip tooltip-bottom-right">請輸入寬度</b></label>
      </label>
    </section>
    <section class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <label class="label"><span class="text-danger fn-show-hidden">*</span>高度</label>
      <label class="input state-disabled">
        <input type="number" name="height" placeholder="" v-model="data.item.height" disabled>
        <b class="tooltip tooltip-bottom-right">請輸入高度</b></label>
      </label>
    </section>
  </div>
  -->

  <div class="row">
    <section class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <label class="label"><span class="text-danger fn-show-hidden">*</span>重量</label>
      <label class="input state-disabled">
        <input type="number" name="weight" placeholder="" v-model="data.item.weight" disabled>
        <b class="tooltip tooltip-bottom-right">請輸入重量</b></label>
      </label>
    </section>

    <section class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <label class="label"><span class="text-danger fn-show-hidden">*</span>最小存量</label>
      <label class="input state-disabled">
        <input type="number" name="minimum" placeholder="" v-model="data.item.minimum" disabled>
        <b class="tooltip tooltip-bottom-right">請輸入最小存量</b></label>
      </label>
    </section>

    <section class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <label class="label"><span class="text-danger fn-show-hidden">*</span>產地</label>
      <label class="input state-disabled">
        <input type="text" name="origin" placeholder="" v-model="data.item.origin" disabled>
        <b class="tooltip tooltip-bottom-right">請輸入產地</b></label>
      </label>
    </section>

    <!--
    <section class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <label class="label">排序</label>
      <label class="input state-disabled">
        <input type="number" name="sortOrder" placeholder="" v-model="data.item.sortOrder" disabled>
        <b class="tooltip tooltip-bottom-right">排序</b></label>
      </label>
    </section>
    -->
  </div>

  <div class="row">
    <section class="col col-lg-1 col-md-1 col-sm-1 col-xs-1">
      <label class="label">稅率</label>
      <label class="input state-disabled">
        <input type="number" name="length" step="0.01" placeholder="" v-model="data.item.taxRate" disabled>
        <b class="tooltip tooltip-bottom-right">請輸入稅率</b></label>
      </label>
    </section>
    <section class="col col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <label class="label">稅金</label>
      <label class="input state-disabled">
        <input id="tax" value="{{ Math.round(Number(data.item.price) - Number(data.item.price)/(1+parseFloat(data.item.taxRate))) }}" readonly>
      </label>
    </section>
  </div>

  <!--
  <div class="row">
    <section class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <label class="label">是否可運送</label>
      <label class="input state-disabled switch"></label>
      <span class="input-group-addon">
        <span class="onoffswitch">
          <input type="checkbox" name="shipping" class="onoffswitch-checkbox" v-model="data.item.shipping" disabled="disabled" id="shipping">
          <label class="onoffswitch-label" for="shipping">
            <span
              class="onoffswitch-inner"
              data-swchon-text="On"
              data-swchoff-text="Off"></span>
            <span class="onoffswitch-switch"></span>
          </label>
        </span>
      </span>
        <b class="tooltip tooltip-bottom-right">是否可運送</b></label>
    </section>

    <section class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <label class="label">賣出時減少</label>
      <label class="input state-disabled switch"></label>
      <span class="input-group-addon">
        <span class="onoffswitch">
          <input type="checkbox" name="subtract" class="onoffswitch-checkbox" v-model="data.item.subtract" disabled="disabled" id="subtract">
          <label class="onoffswitch-label" for="subtract">
            <span
              class="onoffswitch-inner"
              data-swchon-text="On"
              data-swchoff-text="Off"></span>
            <span class="onoffswitch-switch"></span>
          </label>
        </span>
      </span>
        <b class="tooltip tooltip-bottom-right">賣出時減少</b></label>
    </section>

    <section class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <label class="label">瀏覽數</label>
      <label class="input state-disabled">
        <input type="text" name="viewed" placeholder="" v-model="data.item.viewed" disabled>
        <b class="tooltip tooltip-bottom-right">瀏覽數</b></label>
      </label>
    </section>
  </div>
  -->

  <div class="row">
    <section class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 notForCreate">
      <label class="label">供應商列表</label>
      <label class="textarea state-disabled">
        <textarea rows="2" v-model="data.item.suppliersNameArray" disabled>
        </textarea>
      </label>
    </section>

    <section class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 notForCreate">
      <label class="label"><span class="text-danger fn-show-hidden">*</span>產品分類</label>
      <label class="textarea state-disabled">
        <textarea rows="2" v-model="data.item.categoriesNameArray" disabled>
        </textarea>
      </label>
    </section>

    <section class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <label class="label"><span class="text-danger fn-show-hidden">*</span>公開狀態</label>
      <label class="input state-disabled switch"></label>
      <span class="input-group-addon">
        <span class="onoffswitch">
          <input type="checkbox" name="publish" class="onoffswitch-checkbox" v-model="data.item.publish" disabled="disabled" id="publish">
          <label class="onoffswitch-label" for="publish">
            <span
              class="onoffswitch-inner"
              data-swchon-text="On"
              data-swchoff-text="Off"></span>
            <span class="onoffswitch-switch"></span>
          </label>
        </span>
      </span>
        <b class="tooltip tooltip-bottom-right">publish</b></label>
    </section>

    <section class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 fn-show-hidden">
      <label class="label"><span class="text-danger fn-show-hidden">*</span>產品供應商</label>
      <label class="select state-disabled">
        <select style="height: 60px;" class="form-control" multiple="multiple" name="suppliersId" title="選擇產品供應商" v-model="data.item.suppliersId">
          <option v-for=" supplier in data.option.supplierList" v-bind:value="supplier.id" @click="addSupplier">
            {{supplier.name}}
          </option>
        </select>
      </label>
    </section>

    <section class="col col-lg-4 col-md-4 col-sm-4 col-xs-4 fn-show-hidden">
      <label class="label"><span class="text-danger fn-show-hidden">*</span>產品分類</label>
      <label class="select state-disabled">
        <select style="height: 60px; "class="form-control" multiple="multiple" name="categoriesId" title="選擇產品分類" v-model="data.item.categoriesId">
          <option v-for=" category in data.option.categoryList" v-bind:value="category.id" @click="addCategory">
            {{category.CategoryDescription.name}}
          </option>
        </select>
      </label>
    </section>
  </div>


  <div class="row notForCreate">
    <section class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <label class="label">建立時間</label>
      <label class="input state-disabled">
        <input type="text" name="createdAt" placeholder="" v-model="data.item.createdAt" disabled>
        <b class="tooltip tooltip-bottom-right">createdAt</b></label>
      </label>
    </section>
    <section class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <label class="label">更新時間</label>
      <label class="input state-disabled">
        <input type="text" name="updatedAt" placeholder="" v-model="data.item.updatedAt" disabled>
        <b class="tooltip tooltip-bottom-right">updatedAt</b></label>
      </label>
    </section>
    <section class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <label class="label">刪除時間</label>
      <label class="input state-disabled">
        <input type="text" name="deletedAt" placeholder="" v-model="data.item.deletedAt" disabled>
        <b class="tooltip tooltip-bottom-right">deletedAt</b></label>
      </label>
    </section>
  </div>

</fieldset>
<script>
var formRules = {
  model : {
    required : true
  },
  ImageId : {
    required : true
  },
  quantity : {
    required : true
  },
  price : {
    required : true
  },
  // length : {
  //   required : true
  // },
  // width : {
  //   required : true
  // },
  // height : {
  //   required : true
  // },
  weight : {
    required : true
  },
  categoriesId : {
    required : true
  },
  SupplierId : {
    required : true
  },
  origin: {
    required : true
  },
  // sku : {
  //   required : true
  // },
  // upc : {
  //   required : true
  // },
  // ean : {
  //   required : true
  // },
  // jan : {
  //   required : true
  // },
  // isbn : {
  //   required : true
  // },
  // mpn : {
  //   required : true
  // },
  // location : {
  //   required : true
  // },
}

// Messages for form validation
var formMessages = {
  model : {
    required : '請給予名稱'
  },
  ImageId : {
    required : '請給予 ImageId'
  },
  quantity : {
    required : '請給予數量'
  },
  price : {
    required : '請給予價格'
  },
  // length : {
  //   required : '請給予長度'
  // },
  // width : {
  //   required : '請給予寬度'
  // },
  // height : {
  //   required : '請給予高度'
  // },
  weight : {
    required : '請給予重量'
  },
  categoriesId : {
    required : '請選取產品分類'
  },
  SupplierId : {
    required : '請選取產品供應商'
  },
  origin: {
    required : '請輸入產地'
  },
}
$('#tax').parent().addClass('tate-disabled');
</script>
