<h4 id="一說明與同意條款">一、說明與同意條款</h4>
特別聲明：我已詳細閱讀並同意以下條款：MotorWorld雜誌及其委外服務廠商，基於客戶管理、統計及調查分析、會員管理、行銷及其他合於營業登記項目或章程所定業務需要之特定目的，在此向您蒐集個人資料，作為本集團營運期間於台灣地區寄送出版物及各項優惠訊息與調查分析使用。您可向本集團請求查閱、提供複本、更正或補充個人資訊，及請求刪除或停止處理利用，請您連繫MotorWorld雜誌群客戶服務中心(02)2662-0332 或email: bill@cw.com.tw。若您填寫資料不完整時，可能會影響您收受出版物或優惠訊息之權利。
