<footer class="moto-footer">
  <div class="footer-register">
    <% var backUrl = req.url %>
    <span><a href="/terms<%= '?url=' + backUrl %>">服務條款</a></span>
    <span><a href="/privacy<%= '?url=' + backUrl %>">隱私政策</a></span>
  </div>
</footer>
