<footer class="moto-footer">
  <div class="footer-register">
    <span><a href="/terms" target="_blank">服務條款</a></span>
    <span><a href="/privacy" target="_blank">隱私政策</a></span>
  </div>
</footer>
