<div class="moto-content container">
  <div class="row">
    <div class="col-md-3">
      <div class="moto-ad">

      </div>
    </div>
    <div class="col-md-9">
      <a style="margin-top: 3.5em;" class="btn btn-primary btn-lg btn-block facebook-btn"><i class="fa fa-facebook-official" aria-hidden="true"></i> 使用 FB 臉書帳號登入</a>
      <div class="or-divider"></div>
      <form class="login-form">
        <div class="form-group">
          <input type="email" class="form-control" style="margin-bottom: 30px;" placeholder="* Email">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" style="margin-bottom: 56px;" placeholder="* 密碼">
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block">立即登入</button>
      </form>

    </div>
  </div>
</div>
