
<script src="https://www.google.com/recaptcha/api.js?hl=zh-TW" async defer></script>
<div class="moto-content container">
  <div class="row">
    <div class="col-md-3">
      <div class="moto-ad">

      </div>
    </div>
    <div class="col-md-9">
      <div class="register-panel">
        <h1 class="panel-header">註冊會員表單</h1>
        <a style="margin-top: 36px;" class="btn btn-primary btn-lg btn-block facebook-btn"  href="/auth/facebook">
          <i class="fa fa-facebook-official" aria-hidden="true"></i> 使用 FB 臉書帳號登入
        </a>
        <div class="or-divider"></div>
        <form class="register-form" id="registerForm" method='post' action="/auth/local/register">
          <div class="form-group">
            <input type="text" name="lastName" class="form-control" placeholder="* 姓氏">
          </div>
          <div class="form-group">
            <input type="text" name="firstName" class="form-control" placeholder="* 名字">
          </div>
          <div class="form-group">
            <input type="email" name="email" class="form-control" placeholder="* Email">
          </div>
          <div class="form-group">
            <input type="text" name="username" class="form-control" placeholder="* 帳號">
          </div>
          <div class="form-group">
            <input type="password" name="password" id="firstPassword" class="form-control" placeholder="* 密碼">
          </div>
          <div class="form-group">
            <input type="password" name="passwordAgain" class="form-control" placeholder="* 再次輸入密碼">
          </div>
          <div class="form-group">
            <input type="text" name="subscriberId" class="form-control" placeholder="訂戶編號">
          </div>
          <div class="form-group">
            <input type="number" name="phone1" class="form-control" placeholder="* 手機">
          </div>
          <div class="form-group">
            <input type="number" name="phone2" class="form-control" placeholder="* 市話">
          </div>
          <div class="form-group">
            <input type="text"  name="birthday" class="form-control" style="margin-bottom: 60px;" placeholder="* 生日 YYYY-MM-DD，例如 1981-01-31">
          </div>
          <div class="form-group" style="margin-bottom: 29px;">
            <label style="
              font-size: 13px;
              color: #4A4A4A;
              font-weight: 500;
              margin-right: 2em;">性別</label>
            <label class="radio-inline">
              <input type="radio" name="sex" value="male"> 男性
            </label>
            <label class="radio-inline">
              <input type="radio" name="sex" value="female"> 女性
            </label>
          </div>
          <div class="margin-top-20 g-recaptcha" data-sitekey="<%= data.reCAPTCHAKey %>"></div>
          <div class="checkbox" style="margin-bottom: 22px;">
            <label>
              <input type="checkbox"> 加入摩托雜誌會員代表您已閱讀，並同意遵守《摩托雜誌會員服務條款》。
            </label>
          </div>
          <button type="submit" class="btn btn-danger btn-lg btn-block reg-btn">免費註冊</button>
        </form>
      </div>

    </div>
  </div>
</div>

<% LayoutUtils.addScripts('/assets/motorworld/lib/formSubmitHelper.js'); %>
<% LayoutUtils.addScriptBlock(`
  $(document).ready(function(){
    $('input[name="birthday"]').datepicker({
      changeYear: true,
      yearRange: "-100:+0",
      dateFormat: 'yy-mm-dd',
    });

    $.fn.preventDoubleSubmission = function() {
      $(this).on("submit", function(event) {
        if (grecaptcha.getResponse() === "") {
          swal('${__('warning')}', '${__('register.invalid.not_robot.not_check')}', 'warning');
          return event.preventDefault();
        }
        defaultFormSubmit(event);
      });
      return this;
    }

    $("#registerForm").validate({
      rules: {
        firstName: {
          required: true
        },
        lastName: {
          required: true
        },
        email: {
          required: true,
          email: true
        },
        username: {
          required: true
        },
        password: {
          required: true,
          minlength: 6
        },
        passwordAgain: {
          required: true,
          minlength: 6,
          equalTo: "#firstPassword"
        },
        agree: "required"

      },
      messages: {
        firstName: {
          required: "${__('register.invalid.first_name.empty')}"
        },
        lastName: {
          required: "${__('register.invalid.last_name.empty')}"
        },
        email: {
          required: "${__('register.invalid.email.empty')}",
          email: "${__('register.invalid.email.format')}"
        },
        username:{
          required: "${__('register.invalid.username.empty')}"
        },
        password: {
          required: "${__('register.invalid.password.empty')}",
          minlength: "${__('register.invalid.password.not_strong')}"
        },
        passwordAgain: {
          required: "${__('register.invalid.password.empty')}",
          minlength: "${__('register.invalid.password.not_strong')}",
          equalTo: "${__('register.invalid.password.not_equal')}"
        },
        agree: "${__('register.invalid.not_agree')}"
      },
      highlight: function(element) {
          $(element).closest('.form-group').addClass('has-error');
      },
      unhighlight: function(element) {
          $(element).closest('.form-group').removeClass('has-error');
      },
      errorElement: 'span',
      errorClass: 'help-block',
      errorPlacement: function(error, element) {
          if(element.parent('.input-group').length) {
              error.insertAfter(element.parent());
          } else {
              error.insertAfter(element);
          }
      }
    });

    $("#registerForm").preventDoubleSubmission();

  });
`); %>
