var COMMON = {
  DOUBLE_CLICK_TIME_PERIOD: 250,
  DEFAULT_INDEX: -1,
  DEFAULT_AVATAR: "/assets/admin/img/avatars/default.png",
};

var itemBeforeEdit = {};
var prefix = 'admin/';
var modelName = "order";
var appModel = {
  modelName: modelName,
  prefix: prefix,
  data: {
    item: {
      id: '',
      orderNumber: '',
      invoiceNo: '',
      invoicePrefix: '',
      firstname: '',
      lastname: '',
      email: '',
      telephone: '',
      fax: '',
      paymentFirstname: '',
      paymentLastname: '',
      paymentAddress1: '',
      paymentCity: '',
      paymentPostcode: '',
      paymentMethod: '',
      paymentCode: '',
      shippingFirstname: '',
      shippingLastname: '',
      shippingEmail: '',
      shippingTelephone: '',
      shippingAddress1: '',
      shippingCity: '',
      shippingPostcode: '',
      shippingMethod: '',
      shippingCode: '',
      comment: '',
      total: '',
      tax: '',
      totalIncludeTax: '',
      tracking: '',
      ip: '',
      forwardedIp: '',
      userAgent: '',
      OrderProducts: {},
    },
    items: [],
    option: {
      defaultSort: [[ 30, 'desc' ]],
      orderProductList: ''
    }
  },
  view: {
    table: {
      selectIndex: COMMON.DEFAULT_INDEX,
    },
  }
}

/* TABLETOOLS */

<%- include ../default/vue.ejs %>
// 需要新增函式可以對 appMain 進行定義，如：
// appMain.log = function () {console.log("123")}
appMain.orderProductList = function(){
  var orderProductList = appMain.data.item.OrderProducts.map(function(data) {
    // return `名稱：${data.name}, 數量：${data.quantity}, 金額：${data.formatTotal}\n`;
    return {
      name: data.name,
      quantity: data.quantity,
      formatTotal: data.formatTotal,
      formatPrice: data.formatPrice
    }
  });
  appMain.data.option.orderProductList = orderProductList;
}

appMain.editDisabled = function(){
  $('label.fn-edit-disabled > input').attr('disabled', true);
  $('label.fn-edit-disabled').addClass('state-disabled');
}

appMain.createHide = function () {
  $('.fn-create-hide').hide();
};

appMain.checkedOrder = function(){
  var orderId = appMain.data.item.id;
  if(appMain.data.item.tracking === '訂單建立'){
    var checkBtn = '<button type="button" class="btn btn-success pull-left">確認訂單</button>';
    $(checkBtn).prependTo('footer');

    $('.btn-success').on('click', function(){
      $.SmartMessageBox({
        title : "提醒",
        content:'是否確認此訂單 ? ',
        buttons : "[確認][取消]"
      },function(ButtonPress) {
          if(ButtonPress === "取消"){
            return 0;
          }

          var ajaxSuccess = function (result) {
            location.href = '/admin/#/admin/' + modelName;
            messageApp.show({
            desc: '確認訂單成功！',
            type: 'success'
            });
          }; // end ajaxSuccess

         var ajaxError = function (result) {
           messageApp.show({
             desc: '確認訂單失敗！errorMessage: ' + result.responseJSON.message,
             type: 'error'
           });
         };

         $.ajax({
           url: '/api/' + prefix + 'order/confirm' + '/' + orderId,
           type: 'PUT',
           dataType: 'json',
           data: {
             tracking:'確認訂單',
             // orderConfirmComment: orderConfirmComment
           },
           xhrFields: {
           withCredentials: true,
           },
           success: ajaxSuccess,
           error: ajaxError,
         }).done(function(result){
           defaultTable.api().ajax.reload(null, false);
         });
        }
      );
    });
  }
}

appMain.DataTableInitComplete = function() {
  $('.loading-wrapper').removeClass('active');

  $("#main-table").delegate("[name='updateStatus']", 'change', function() {
    var that = this;
    // var id = $(this).data("id");
    var orderId = $(this).attr("data-orderId");
    var selectedDesc = $(this).find('option:selected').text();
    var oldVal = $(this).attr('data-oldValue');
    var newVal = $(this).val();

    var msgInfo = {
      title: '注意',
      content: '確認更新訂單 ID: 『'+ orderId +'』<br/>訂單新狀態為: 『'+ selectedDesc +
      // '<br/>請輸入變更狀態的事由：<br />'+
      // "<input id='statusComment' type='text' class='form-control'/>" +
      "』<br/>請確認變訂單狀態！<br/>",
      btnArray: ['確認', '取消'],
    };
    var action = function(ButtonPressed) {
      if (ButtonPressed === '確認') {

        $(that).val(newVal);
        // var statusComment = $('#statusComment').val();
        // if(statusComment === ''){
        //   messageApp.show({
        //     desc: '請輸入變更狀態的理由',
        //     type: 'error'
        //   });
        //   $(that).val(oldVal);
        //   return 0;
        // }

        $.ajax({
          url: '/api/admin/order/status/' + orderId,
          method: "put",
          dataType: 'json',
          cache: false,
          data:{
            status: newVal,
            // statusComment: statusComment
          }
        }).done(function (result) {
          messageApp.show({
            desc: result.message,
            type: 'success'
          });
          defaultTable.api().ajax.reload(null, false);
        });
      } else {
        $(that).val(oldVal);
      }
    };
    messageApp.confirm(msgInfo, action);
  });

  $("#main-table").delegate("[name='orderConfirm']","click", function(e) {
      var that = this;
      var orderId = $(that).attr("data-id");
      var orderTotal = $(that).attr("data-total");
      var orderProduct = $(that).attr("data-order");
      $.SmartMessageBox({
        title : "提醒",
        content:
        '是否確認此訂單 ? ' +
        '<p />'+
        '<a class="btn btn-link" href="/admin/#/admin/order/show/'+ orderId +'"> 檢視訂單詳細內容 </a><br />' +
        '訂單總金額 : $<em style="font-size: 1.5em;">'+  orderTotal +'</em><br />',
        // "<input id='orderConfirmComment' type='text' class='form-control' value='訂單資訊與內容已確認'/>" +
        // "<br/>",
        buttons : "[確認][取消]"
      }, function(ButtonPress) {
           if(ButtonPress === "取消"){
             return 0;
           }

          //  var orderConfirmComment = $('#orderConfirmComment').val()
           //
          //  if(orderConfirmComment === ''){
          //    messageApp.show({
          //      desc: '請輸入確定訂單的理由',
          //      type: 'error'
          //    });
          //    return 0;
          //  }

           var ajaxSuccess = function (result) {
             location.href = '/admin/#/admin/' + modelName;
             messageApp.show({
             desc: '確認訂單成功！',
             type: 'success'
             });
           }; // end ajaxSuccess

          var ajaxError = function (result) {
            messageApp.show({
              desc: '確認訂單失敗！errorMessage: ' + result.responseJSON.message,
              type: 'error'
            });
          };

          $.ajax({
            url: '/api/' + prefix + 'order/confirm' + '/' + orderId,
            type: 'PUT',
            dataType: 'json',
            data: {
              tracking:'確認訂單',
              // orderConfirmComment: orderConfirmComment
            },
            xhrFields: {
            withCredentials: true,
            },
            success: ajaxSuccess,
            error: ajaxError,
          }).done(function(result){
            defaultTable.api().ajax.reload(null, false);
          });
         }
      );
      e.preventDefault();
  });
}
